.tabela {
    width: 100vw;
}

.tabela h1 {
    font-size: 1rem;
}

.tabela p, .tabela span {
    font-size: 0.75rem
}

.tabela tr td {
    border: 1px solid black;
    width: 100px;
    
    text-align: center;
}

.tabela tr td span {
    text-align: left;
}



.linhaflex {
    display: flex;
    justify-content: space-evenly;
}

.left {
    margin-left: auto;
}

.linharight {
    display: flex;
    justify-content: end;
}



.right {
    align-self: end;
    justify-self: end;
}